.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.reduced-image {
    width: 25%;
    height: auto;
}

.prompt-query > input, select {
    --pico-border-radius: 5rem;
}

.loader-container {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Pour maintenir l'espace même quand vide */
    min-height: 300px;
}